@media screen and (max-width: 1100px){
    html{
        font-size: 90%;
    }
    
}
@media screen and (max-width: 600px){
    html{
        font-size: 85%;
    }
    .main_block{
        height: 45rem;
    }
    .left_background,
    .right_background{
        width: 50%;
        height: 50%;
    }
    .main_block{
        padding-left: 0;
    }
    .info_block,
    .phone{
        float: none;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    .info_block{
        font-size: 0.6rem;
        text-align: center;
        width: 82%;
    }
    .left_background{
        width: 50%;
        transform: translateX(0);
        border-radius: 24rem/20rem;
    border-top-right-radius:0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    }
}
@media screen and (max-width:350px){
    html{
        font-size: 75%;
    }
    .main_block{
        height: 50rem;
    }
    .phone{
        box-shadow: 0.5rem 1rem 1rem rgb(20,20,20,0.2) ;
    }
}
@media screen and (max-height: 620px){
    .right_background{
        padding: 0;
        bottom: -5rem;
        height: 60%;
    }
}
@media screen and (max-height: 560px){
    .right_background{

        bottom: -10rem;
        height: 50%;
    }
}
@media screen and (max-height: 530px){
    .right_background{

        bottom: -13rem;
        height: 50%;
    }
}
@media screen and (max-height: 500px){
    .right_background{

        bottom: -16rem;
        height: 55%;

    }
}
@media screen and (max-height: 442px){
    .right_background{

        bottom: -22rem;
        height: 60%;
        
    }
}
@media screen and (max-height: 381px){
    .right_background{

        bottom: -26rem;
        height: 70%;
    }
}
